@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-kiros-black text-kiros-white antialiased font-sans selection:bg-kiros-amber selection:text-kiros-black;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-kiros-amber to-kiros-mango;
  }
}
